################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Singleton/.vs/Singleton/v16
/Factory/obj/Debug/netcoreapp3.1
/Factory/.vs/Factory/v16
/Factory/bin/Debug/netcoreapp3.1
/AbstractFactory/obj
/Factory/.vs/DesignPatterns/v16
/AbstractFactoryCore/obj
/Builder/obj
/Facade/obj
/Facade/bin/Debug/netcoreapp3.1
/Builder/bin/Debug/netcoreapp3.1
